Options +FollowSymLinks
RewriteEngine On
RewriteRule ^live$ http://deserthacks.org/live.php [R=301,L]
RewriteRule ^live//prizes$ http://deserthacks.org/prizes.php [R=301,L]
RewriteRule ^live//resources$ http://deserthacks.org/resources.php [R=301,L]
