$desert-brown: #994033;
$hack-green: #99CD76;
$off-white: #FAF8F3;
$flor-red: rgb(238, 55, 91);
$color-0: rgb(112, 190, 113);
$color-1: rgb(100, 170, 180);
$dark-yellow: #F9D178;

@mixin font-face($font-family, $file-path, $font-weight) {
	@font-face {
		font-family: $font-family;
		src: url('../fonts/#{$file-path}');
		font-weight: $font-weight;
		font-style: normal;
  }
}

@mixin cloud($duration, $height, $left, $top) {
	animation-duration: $duration;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	height: $height;
	left: $left;
	position: fixed;
	top: $top;
	@content;
}

@mixin movement($distance) {
	from {transform: translate(0, 0);}
	55% {transform: translate(0, $distance);}
	to {transform: translate(0, 0);}
}

@include font-face('Axis', 'Axis Extrabold.otf', 800);
@include font-face('Moderne Sans', 'MODERNE SANS.ttf', 400);

.cloud1 {
	@include cloud(4s, 14vh, 5vw, 20vh) {
		animation-name: Floating1;
	}
}

.cloud2 {
	@include cloud(3s, 15vh, 26vw, 45vh) {
		animation-name: Floating2;
	}
}

.cloud3 {
	@include cloud(2s, 20vh, 67vw, 8vh) {
		animation-name: Floating3;
	}
}

.cloud4 {
	@include cloud(2.5s, 15vh, 29vw, 10vh) {
		animation-name: Floating4;
	}
}

.cloud5 {
	@include cloud(3.5s, 15vh, 81vw, 40vh) {
		animation-name: Floating4;
	}
}

@keyframes Floating1 {
	@include movement(-20px);
}

@keyframes Floating2 {
	@include movement(15px);
}

@keyframes Floating3 {
	@include movement(10px);
}

@keyframes Floating4 {
	@include movement(-12px);
}

@keyframes Floating5 {
	@include movement(17px);
}

section {
	box-sizing: border-box;
	padding-top: 60px;
	position: relative;
	width: 100%;

	h1 {
		font-family: 'Moderne Sans', sans-serif;
		font-size: 40px;
		margin-bottom: 20px;
	}
}

.plain {
	font-size: 1.4em;
	margin: 0;
	padding: 20px 75px;
	text-align: justify;
}

@media (max-width: 479px) {
	.plain {
		padding: 20px 40px;
		text-align: center;
	}
}

p {
	font-size: 14px;
}

.mlh-trust-badge {
	display: block;
	max-width: 100px;
	min-width: 60px;
	position: fixed;
	right: 50px;
	top: 0;
	width: 10%;
	z-index: 10000;
}

@media (max-width: 767px) {
	.mlh-trust-badge {
		right: 75px;
		transition: all .5s ease;
	}

	.divider {
		display: none;
	}

	.line2::before {
		content: '\A';
		white-space: pre;
	}

	#mc_embed_signup .button {
		margin-top: 5px;
		width: 300px;
	}

	.section-header h1 {
		left: 4%;
	}

	.cloud2 {
		display: none;
	}

	.section-content p.plain {
		font-size: 14px;
	}

	.faq h3 {
		cursor: pointer;
		font-size: 18px;
	}
}

@media (max-width: 479px) {
	h3 {
		font-size: 20px;
	}

	.header img {
		height: 200px;
	}

	.title h1 {
		font-size: 35px;
	}

	.title h2 {
		font-size: 16px;
	}
}

.navbar-default .navbar-toggle {
	border-color: transparent;

	&:hover,
	&:focus,
	&:active {
		background-color: transparent;
	}

	.icon-bar {
		background-color: $hack-green;
  }
}

.navbar {
	background-color: transparent;
	border: 0;
	padding: 10px 0;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
	border-bottom: 0 solid transparent;
	color: $hack-green;
	font-size: 18px;
  -webkit-transition: border .3s ease-in-out, color .3s ease-in-out, padding .3s ease-in-out;
	-moz-transition: border .3s ease-in-out, color .3s ease-in-out, padding .3s ease-in-out;
	transition: border .3s ease-in-out, color .3s ease-in-out, padding .3s ease-in-out;
	padding-top: 20px !important;
  padding-bottom: 20px !important;
}

ul.nav a {
  box-sizing: border-box;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active,
ul.nav a.active:hover {
	background-color: transparent;
	border-color: $desert-brown;
	color: $desert-brown;
}

ul.nav a.active {
	border-bottom: 5px solid $desert-brown;
	color: $desert-brown;
	padding-bottom: 15px !important;
}

.top-nav-collapse {
	background-color: $off-white;
	border: 0;
	padding: 0;
}

.navbar-brand {
	font-family: "Axis", sans-serif;
	font-size: 24px;
	height: 60px;
	padding: 20px 15px;
}


.header {
	text-align: center;
}

.title {
	h1 {
		font-family: "Axis", sans-serif;
		font-size: 60px;
	}

	h2 {
		color: $color-1;
		font-family: "Moderne Sans", sans-serif;
	}
}

.nav-item {
	font-family: "Moderne Sans", sans-serif;
}

.mobile-nav {
	background-color: $off-white !important;
	transition: float 0.5s ease;
}

@media (max-width: 768px) {
	/*get rid of weird float flicker when collapsing mobile nav*/
	.navbar-nav {
		float: none!important;
	}
}

.navbar-default .navbar-collapse {
	margin: 0;
	width: 100%;
}

body {
	background-attachment: fixed;
	background-image: url('../assets/bg-noclouds.png');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Raleway", sans-serif;
	text-align: center;
}

.apply {
	height: 0;
	-moz-transition: height 1.5s ease;
	-ms-transition: height 1.5s ease;
	-webkit-transition: height 1.5s ease;
	transition: height 1.5s ease;
}

.navbar-nav {
	float: right;
	margin-right: 80px;
}

.live-nav .navbar-nav {
	margin-right: 0px;
}

@media (max-width: 1000px) {
	.navbar-nav {
		margin-right: 0;
	}

	.cloud4 {
		display: none;
	}
}

a.dh-button:link {
	color: white;
	text-decoration: none;
}

.dh-button {
	background-color: $hack-green;
	border: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-sizing: border-box;
	color: $off-white;
	display: inline-block;
	font-size: 19px;
	height: 48px;
	letter-spacing: .03em;
	line-height: 48px;
	margin: 10px 15px 0 0;
	outline: 0;
	transition: all .23s ease-in-out 0s;
	width: 192px;
}

.dh-button:hover {
	background-color: $desert-brown;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

//its bad habit to use id's in css, shud we give them all an
//identical class name? or is that excessive idk idk
//lets not worry about good practice for now :^) heh we can clean it up later

.home {
	min-height: 100vh;
	position: relative;
}

.home .header {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.section-content {
	background-color: $off-white; /*cream color*/
	padding-top: 20px;
}

.section-header {
	width: 100%;
	text-align: left;

	h1 {
		position: relative;
		top: 40px;
		left: -30px;
		color: $off-white;
		display: inline-block;
		padding: 7px 20px 0;
	}
}

@media(max-width: 850px) {
	.faq .section-header h1 {
		left: 4%;
	}

	.cloud5 {
		display: none;
	}
}

@media (max-width: 580px) {
	.section-header h1 {
		font-size: 24px;
	}

	.faq .section-header h1 {
		width: 250px;
	}

	.faq {
		padding-top: 80px;
	}
}

.about {
	box-sizing: content-box;
	height: max-content;
	padding-bottom: 60px;
}

.about p.plain {
	text-align: justify;
}

.about-header {
	background-color: rgb(250, 210, 120);
}

.schedule .section-content h1 {
  font-size: 24px;
}

.schedule h2 {
	font-size: 18px;
}

.schedule h2 span {
	float: right;
}

.schedule-header {
	background-color: rgb(99, 169, 179);
}

.faq-header {
	background-color: $flor-red;
}

//faq grid
.faq .row {
	margin: 0 auto;
	max-width: 100%;
}

.faq-col {
	float: left;
	text-align: left;
	width: 33.333%;

	div {
		margin: 15px;
		padding: 10px;
	}

	h3 {
		margin: 0 0 15px;
		padding: 0;
	}

	p {
		text-align: justify;
	}
}

.schedule .row {
	margin: 0 auto;
	max-width: 90%;
}

.sched-col {
	float: left;
	padding: 0 40px 20px;
	text-align: left;
	width: 50%;
}

span.plus {
	display: none;
	float: right;
	font-size: 35px;
	line-height: 15px;
	transition: all .3s linear;
}

.open {
	display: inline-block;
}

.rotate {
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

@media(max-width: 991px) {
	.faq-col p {
		text-align: left;
	}
}

@media(max-width: 767px) {
	.faq-col {
		width: 100%;
	}

	.sched-col {
		padding: 0 20px 20px;
		width: 100%;
	}


	.schedule h2 {
		font-size: 14px;
	}

	.faq-col div {
		margin: 0 15px;
		padding: 5px 10px;
	}

	.faq-col h3 {
		border-bottom: 1px solid #ddd;
		padding: 0 0 15px;
	}

	span.plus {
		display: inline;
	}
}

.sponsors {
	padding-bottom: 200px;

	.section-content {
		padding-bottom: 5px;
		padding-top: 30px;
	}
}

.godaddy {
	padding-bottom: 10px;
}

.sponsors-header {
	background-color: $hack-green;
}

.sponsor-row {
	padding: 10px;
	text-align: center;
}

img.logo {
	margin-top: 30px;
}


.diamond .logo {
	max-height: 150px;
	max-width: 500px;
}

.turquoise .logo {
	max-height: 120px;
	max-width: 200px;
}

.pyrite .logo {
	max-height: 60px;
	max-width: 180px;
}

.clay .logo {
	max-height: 60px;
	max-width: 180px;
}

.partners {
	color: $hack-green;
	font-size: 40px;
	font-weight: bold;
	margin-top: 40px;
}


@media(max-width: 776px) {
	.diamond .logo {
		max-height: 150px;
		max-width: 400px;
	}

	.turquoise .logo {
		max-height: 100px;
		max-width: 180px;
	}

	.pyrite .logo {
		max-height: 60px;
		max-width: 180px;
	}

	.clay .logo {
		max-height: 60px;
		max-width: 180px;
	}

	.partners {
		font-size: 36px;
	}
}

@media(max-width: 580px) {
	.diamond .logo {
		max-height: 100px;
		max-width: 230px;
	}

	.turquoise .logo {
		max-height: 70px;
		max-width: 130px;
	}

	.pyrite .logo {
		max-height: 40px;
		max-width: 100px;
	}

	.clay .logo {
		max-height: 40px;
		max-width: 100px;
	}

	.partners {
		font-size: 30px;
		margin-bottom: 0;
	}
}

footer {
	background-color: $desert-brown;
	color: $off-white;
	font-size: 16px;
	height: 300px;
	z-index: 2;
}

.footer {
	padding-top: 120px;
}

.social {
	padding-bottom: 20px;

	a i {
		color: $off-white;
		font-size: 60px;
		margin: 10px;
	}
}

.content-cactus {
	float: right;
}

.sponsor-email {
	padding-bottom: 0;
	padding-top: 20px;
}

/*misc live site stuff*/

.twitter {
	overflow: auto;
	margin-bottom: 10px;
}

body.live {
	background-color: $off-white;
	background-image: none;
}


.live {
	.submission {
		background-color: $hack-green;
		transition: background-color 0.3s ease;
	}
	.submission:hover {
		background-color: $desert-brown;
	}
	.submission a.nav-link {
		color: $off-white!important;
	}

	.navbar-btn {
		font-size: 17px;
		font-family: "Moderne Sans", sans-serif;
		color: $off-white;
		background-color: $hack-green;
    margin-left: 6px;
    padding: 9px 16px 5px 16px;
		transition: all .23s ease-in-out 0s;
		border: none;
		outline: none;
	}

	.navbar-btn:hover {
		background-color: $desert-brown;
	}


	.prizes h1 {
		margin-left: 20px;
	}

	/*styling for live navbar*/
	.navbar.live-nav {
		background-color: $off-white;
		border: 0;
		padding: 0;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		border-radius: 0;
	}

	section {
		padding-top: 0px;
	}
	.twitter,
	.schedule-table {
		border: 1px solid $desert-brown;
		margin-bottom: 15px;
	}
	table {
		width: 100%;
		text-align: left;
	}

	.schedule-table th, td,
	table th, .live td {
		padding: 6px 12px;
		font-size: 1.2em;
	}
	.day th {
		background-color: $dark-yellow;
	}
	.table-header {
		background-color: $desert-brown;
		color: #fff;
	}
	.schedule-table {
		overflow: auto;
		position: relative;
	}
	.schedule .current {
		background-color: $hack-green;
		transition: all 0.5s ease;
	}

	.schedule .past {
		background-color: #aaa;
		transition: all 0.5s ease;
	}

	footer {
		height: 100%;
		margin-top: 35px;
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.social a i {
		font-size: 2em;
	}
	.footer {
		padding-top: 60px;
	}

	//resources
	.resource-box {
		border: 1px solid $color-1;
		color: $color-1;
		margin: 10px;
		width: 100px;
		height: 100px;
		display: inline-block;
		position: relative;
		background-color: #fff;
		transition: all .23s ease-in-out 0s;
	}

	.resource-box:hover {
		border: 1px solid $flor-red;
		color: $flor-red;
	}

	.resource-box .fa {
		position:absolute;
		top: 40%;
		transform: translate(-50%, -50%);
	}

	.resource-box p {
		position:absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}


	.rsrc-holder {
		width: 100%;
	}

	.rsrc-inner {
		margin-left: 5%;
		margin-right: 5%;
	}

	.rsrc-inner a {
		text-align: left;
		text-decoration: none;
		color: $color-1;
	}

	.rsrc-item {
		height: 100px;
		border: 1px solid $color-1;
		background-color: #fff;
		margin: 10px 0;
		padding: 0 20px;
		transition: all .23s ease-in-out 0s;
	}

	.rsrc-item:hover {
		color: $flor-red;
		border: 1px solid $flor-red;
	}

	.mapmap {
		max-width: 100%;
		outline: none;
		border: 1px solid #aaa;
	}

	.resource-link {
		text-decoration: none;
	}

	//faq grid
	.prize-col .row {
		margin: 0 auto;
		max-width: 100%;
	}

	.prize-col.general {
		height: 225px;
	}


	.prizes h1 {
		color: $off-white;
		font-size: 38px;
		margin-top: 35px;
		margin-bottom: 0;
	}

	@media (max-width: 1200px) {
		.prize-col.general {
			height: 250px
		}
	}

	@media (max-width: 992px) {
		.prize-col.general {
			height: 300px;
		}
	}

	.resources-faq {
		font-size: 2.5em;
		margin-bottom: 10px;
		padding: 17px 20px 7px 20px;
		background-color: $flor-red;
		color: #fff;
		display: inline-block;
	}

	.faq-container {
		text-align: left;
	}

	.prize-col {
		float: left;
		text-align: left;
		width: 33.333%;

		div {
			margin: 25px 15px;
			padding: 25px 20px;
			background-color: $off-white;
			box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 8px rgba(0,0,0,0.12);
			transition: box-shadow 0.3s ease;
		}

		div:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		}

		h3 {
			margin: 0 0 15px;
			font-weight: 500;
		}

		p {
			font-size: 16px;
		}

		.win {
			color: $desert-brown;
		}
	}

	@media (max-width: 768px) {
		.prize-col.general {
			height: auto;
		}

		.prize-col {
			margin-left: 5%;
			width: 90%;
		}

		.prize-col div {
			margin: 15px 15px!important;
		}

		/*cancel out the extra margin between prizecol*/
		.prize-col {
			margin-top: -7px;
			margin-bottom: -8px;
		}
	}

	@media (max-width: 576px) {
		.prize-col {
			margin-left: 10px;
			margin-right: 10px;
			width: 95%;
		}
	}

	//rip
	.time-header {
		width: 113px;
	}
	.event-header {
		width: 357px;
	}
	.loc-header {
		width: 146px;
	}

	@media (max-width: 500px) {
		.time-header {
			width: 22%;
		}
		.event-header {
			width: 50%;
		}
		.loc-header {
			width: 43%;
		}
	}
	@media (max-width: 450px) {
		.time-header {
			width: 25%;
		}
		.event-header {
			width: 44%;
		}
		.loc-header {
			width: 43%;
		}
	}
	@media (max-width: 400px) {
		.time-header {
			width: 28%;
		}
		.event-header {
			width: 36%;
		}
		.loc-header {
			width: 45%;
		}
	}
}
